body{
    padding: 0;
    margin: 0;
    background-color: lightgray;
    max-height: 599px;
    display: flex;
    align-items: center;
  }
    
    body {margin:0}
    
    .icon-bar {
    width: 220px; /* Adjusted width */
    background-color: white;  
    position: sticky;
    top: 0;
    z-index: 999; /* Ensure it appears above other content */
    }
    
    .icon-bar a {
    display: block;
    text-align: left;
    padding: 12px; /* Adjusted padding */
    transition: all 0.3s ease;
    margin-top: 10px;
    color: black;
    font-size: 17px; /* Adjusted font size */
    
    }
    
    .icon-bar a:hover {
      background-color: maroon;
      color:white;
      border-radius: 10px;
      }
   .active {
        color: black; /* Default color */
    }
  
    .active:hover {
        color: maroon; /* Color on hover */
    }
    .containershadow{
        width: 305px;
        height: 650px;
        margin-top: 50px;
        background-color: white;
      }
h2{
font-size: 48px; /* Adjusted font size */
text-align: top;

}


